sudo: false
language: ruby
cache: bundler
rvm:
  - 2.0.0
  - 2.1.10
  - 2.2.9
  - 2.3.6
  - 2.4.3
  - 2.5.0
env:
  TASK=bundle install
  TASK=bundle exec rake
script: BUNDLE_GEMFILE=gemfile $TASK
notifications:
  email: false
